/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

:root {
  --bg-color: #282a36;
  --purple: #bd93f6;  
  --pink: #ff79c6;
  --drakula-comment: #6272a4;
  --fg-color: #f8f8f2;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--drakula-comment);
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.App {
}


.tooltip-container {
  position: relative; 
  display: inline-block;
}

.quote-box {
  background-color: lightblue;
  display: grid;
  grid-template-areas: 
   'quote quote quote'
   'socialmedia . newquote';
  grid-template-columns: minmax(2rem, 1fr) 1fr minmax(3rem, max-content);
  grid-template-rows: minmax(8rem, auto) auto;
  padding: 1.5rem 1rem;
  width: 80vw;
  min-height: 6rem;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-radius: .5rem;
}

.quote-container {
  grid-area: quote;
  animation: fadeIvar(--purple) ease 500ms;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#text {
  padding-bottom: .75rem;
  justify-self: center;
  font-size: 1.5rem;
  font-family: 'Parisienne', cursive;
}

#author {
  padding-bottom: 1rem;
  opacity: .8;;
}

.social-media {
  grid-area: socialmedia;
  align-self: center;
  justify-self: start;
}

button#new-quote{
  grid-area: newquote;
  background-color: var(--purple);
  border: none;
  justify-self: end;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* font-size: .75rem; */
  cursor: pointer; 
  font-weight: 700;
}

button#new-quote:hover {
  background-color: var(--pink);
}


.tooltip-text {
  opacity: 0;
  background-color: black;
  width: max-content;
  color: #fff;
  text-align: center;
  padding: .5rem .5rem;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 0; 
  transform: translate(0, calc(100% + 5px));
  transition: opacity ease-in 500ms;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:focus .tooltip-text{
  opacity: 1;
}

svg {
  color: var(--purple);
}
